<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="register-container">
        <h1>ACCOUNT PREVIEW</h1>
        <img id="profile-picture" src="../static/uploads/<%= account.picture.filename %>" alt="profile picture">
        <p>Your name: <strong><%= account.name %></strong></p>
        <p>Your email: <strong><%= account.email %></strong></p>
        <p>Your birthday: <strong><%= account.birthday %></strong></p>
        <p>Your gender: <strong><%= account.gender %></strong></p>
        <p>Your preference: <strong><%= account.preference %></strong></p>
        <p>Your description: <strong><%= account.description %></strong></p>
    </div>
</body>
</html>