<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="register-container">
        <h1>ACCOUNT PREVIEW</h1>
        <img id="profile-picture" src="../static/uploads/<%= account.picture.filename %>" alt="profile picture">
        <p>Name:</p>
        <p class="profile-info"><strong><%= account.name %></strong></p>

        <p>Email:</p>
        <p class="profile-info"><strong><%= account.email %></strong></p>

        <p>Birthday:</p>
        <p class="profile-info"><strong><%= account.birthday %></strong></p>

        <p>Gender:</p>
        <p class="profile-info"><strong><%= account.gender %></strong></p>

        <p>Preference:</p>
        <p class="profile-info"><strong><%= account.preference %></strong></p>

        <p>Description:</p>
        <p class="profile-info"><strong><%= account.description %></strong></p>


        <div class="button-container">
            <form method="post" action="/account-preview">
                <button class=delete-button>
                    Delete account
                </button>
            </form>

            <button type="button" class="btn-next">Next</button>
        </div>
    </div>
</body>
</html>